.multipleChoiceContainer{
  display: flex;
  align-items: center;

  background-color: rgba(208, 180, 159, 0.2);
  border-radius: 10px;
  border: 1px solid #D0B49F;
  height: 40px;
  width: 20vw;

  span{
    color: #D0B49F;
    font-weight: normal;
    padding-left: 20px;
  }
}

.isSelected{
  display: flex;
  align-items: center;

  height: 40px;
  width: 20vw;

  background-color: rgba(57, 145, 140, 0.2);
  border-radius: 10px;
  border: 1px solid #39918C;

  span{
    color: #39918C;
    font-weight: normal;
    padding-left: 20px;
  }
}

@media (min-width: 700px) {
  .multipleChoiceContainer,
  .isSelected{
    max-width: 43.5vw !important;
  }
}


.wrong{
  display: flex;
  align-items: center;

  height: 40px;
  width: 20vw;

  background-color: rgba(139, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #8B0000;

  span{
    color: #8B0000;
    font-weight: normal;
    padding-left: 20px;
  }
}
