#container{
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#label{
  color: #2F435A;
  font-weight: bold;
  font-size: 16px;
}

.input{
  border: 1px rgba(47, 67, 90, 0.1) solid;
  background-color: rgba(47, 67, 90, 0.02);
  border-radius: 10px;
  min-height: 40px;
  padding-left: 17px;
}

#input::placeholder{
  color: #2F435A;
}
