<label class="relative flex items-center gap-3 text-gray-700 group cursor-pointer">
  <div class="relative">
    <input
      (change)="switch()"
      [checked]="isChecked"
      class="peer sr-only"
      type="checkbox"
    />
    <div
      class="h-5 w-5 rounded-md border-2 border-gray-300 bg-white transition-all peer-checked:border-[#2F435A] peer-checked:bg-[#2F435A] group-hover:border-[#2F435A]">
      <lucide-icon
        *ngIf="isChecked"
        class="h-4 w-4 text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        name="check"
        strokeWidth="3">
      </lucide-icon>
    </div>
  </div>
  <span class="text-sm font-medium select-none">{{ label }}</span>
</label>
