.little{
  width: 250px;
  height: 40px;
  background-color: #2F435A;;
  border-radius: 10px;
  color: #FFF2E9;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.big{
  width: 90vw;
  height: 40px;
  background: rgba(171, 107, 81, 0.1);
  border: none;
  border-radius: 10px;
  color: #2F435A;
  font-weight: bold;
  font-size: 16px;
}
