<div class="flex flex-col gap-5 w-full p-8 bg-white rounded-lg shadow-md">
  <h1 class="text-center font-medium">NEVERMIND - Conditions générales de service</h1>

  <h2 class="font-medium">MENTIONS LEGALES</h2>
  <div class="flex flex-col gap-0">
    <p>Dénomination sociale: CHASSOCIES</p>
    <p>Société par actions simplifiée au capital de 2 euros</p>
    <p>Immatriculée au RCS de Paris sous le n° 941 260 143</p>
    <p>Siège social: 60 Rue François 1er – 75008 Paris</p>
    <p>{{ 'Adresse de courrier électronique: contact@ne-ver-mind.com' }}</p>
    <p>Directeur de la publication : Nathan LETOURNEAU</p>
    <p>Le Site est hébergé sur les serveurs d’OVH</p>
  </div>


  <p>Le service NEVERMIND est fourni par la société CHASSOCIES.</p>

  <h2 class="font-medium">PREAMBULE</h2>
  <p>Les présentes conditions générales de services (les « <b>Conditions Générales</b> ») visent à encadrer les
    relations
    entre la
    société CHASSOCIES (la « <b>Société</b> ») et l’école, l’administrateur, le professeur et l’élève (l’«
    <b>Utilisateur</b> »)
    dans le
    cadre de la mise à disposition du service NEVERMIND (« <b>Service</b> »).</p>

  <p>Le droit d’utiliser le Service est soumis aux Conditions Générales dont l’Utilisateur reconnaît avoir pris
    connaissance.</p>
  <p>Les Conditions Générales annulent et remplacent les échanges précédents entre la Société et l’Utilisateur, excepté
    les conditions particulières convenues avec l’Ecole ayant fait l'objet d'un accord signé.</p>
  <h3 class="font-medium">Article 1: Définitions</h3>
  <p>Les termes utilisés au titre des présentes conditions générales, commençant par une majuscule, ont les définitions
    suivantes:</p>
  <ul class="list-disc pl-6">
    <li>« <b>Administrateur</b> »: désigne la personne en charge de la gestion administrative de l’établissement
      d’enseignement au
      sein de l’Ecole;
    </li>
    <li>« <b>Conditions Générales</b> »: désigne les présentes Conditions Généralesde service ;</li>
    <li>« <b>Contrat</b> » désigne l’accord conclu entre l’Ecole et la Société en vue de la mise à disposition du
      Service;
    </li>
    <li>« <b>Ecole</b> »: désigne la personne morale cliente, exerçant une activité d’établissement d’enseignement,
      ayant
      conclu
      un Contrat avec la Société aux fins de bénéficier du Service;
    </li>
    <li>« <b>Elève</b> »: désigne la personne physique inscrite dans une Ecole et qui va se connecter à la Plateforme en
      vue de
      passer un Examen;
    </li>
    <li>« <b>Examen</b> »: désigne tous les quizz d’entraînement, interrogation, contrôle continu, test blanc ayant pour
      objectif
      d’évaluer l’Elève via un questionnaire publié sur la Plateforme par le Professeur;
    </li>
    <li>« <b>Exclusion</b> »: désigne la sanction de l’Elève qui peut être soit (i) décidée par le Professeur, soit (ii)
      automatique en cas de sorties répétées de la page d’Examen (changement d’écran, changement d’onglet), et ce dès la
      3ème sortie non autorisée,ayant pour effet d’empêcher l’Elève de passer l’Examen ;
    </li>
    <li>« <b>Données Personnelles</b> »: désignent les données identifiants, directement ou indirectement, un individu,
      fournies,
      saisies ou transmises par l’Utilisateur directement pour son compte ou par l’Ecole dans le cadre du référencement
      de
      l’Utilisateur, en vue de l’utilisation du Service;
    </li>
    <li>« <b>Plateforme</b> »: désigne l’outil NEVERMIND via lequel le Service est mis à la disposition de
      l’Utilisateur;
    </li>
    <li>« <b>Professeur</b> »: désigne la personne intervenant pour le compte de l’Ecole, chargée d’enseigner aux Elèves
      et
      publiant l’Examen sur la Plateforme;
    </li>
    <li>« <b>Réintégration</b> »: désigne la décision du Professeur visant à permettre à l’Elève d’accéder à la page
      d’Examen à
      la suite de son Exclusion;
    </li>
    <li>« <b>Service</b> »: désigne l’outil mis à la disposition des Utilisateurs via la Plateforme par la Société et
      décrit à
      l’article 2 ;
    </li>
    <li>« <b>Société</b> »: désigne la société CHASSOCIES, laquelle met le Service à disposition;</li>
    <li>« <b>Utilisateur</b> »: désigne indifféremment l’Administrateur, l’Ecole, le Professeur ou l’Elève se connectant
      sur la
      Plateforme pour disposer du Service;
    </li>
  </ul>


  <h3 class="font-medium">Article 2: Description du Service</h3>

  <p>La Société propose un Service permettant notamment à l’Ecole (i) de bénéficier d’un support de gestion
    administrative
    et (ii) d’évaluer l’Elève via un Examen organisé par le Professeur sur la Plateforme.</p>

  <p>Le support de gestion administrative permet notamment à l’Ecole la consultation des effectifs, leur création,
    modification ou désactivation et donc de gérer les classes, les promotions, les Elèves et les Professeurs ainsi que
    les matières.</p>

  <h3 class="font-medium">Article 3 – Acceptation des Conditions Générales et modifications</h3>

  <h4 class="font-medium">3.1. Acceptation des CGU</h4>

  <p>Les Conditions Générales sont mises à disposition sur la Plateforme de manière continue en standard ouvert, sauf
    cas
    exceptionnel d’indisponibilité de la Plateforme notamment en cas de mise à jour ou de bug.</p>

  <p>La fourniture du Service est subordonnée à l’acceptation préalable, sans restriction ni réserve, de l’intégralité
    des
    termes des Conditions Générales.</p>

  <p>Les Conditions Générales sont acceptées par le comportement actif de l’Utilisateur lors de sa première connexion,
    via
    une case à cocher au-dessus de laquelle est indiquée la mention « En cochant cette case, vous reconnaissez avoir lu
    et
    accepté nos CGS et notre politique de confidentialité».</p>

  <p>Cette mention contient un lien hypertexte vers la page de la Plateforme contenant les Conditions Générales en
    vigueur.
    Les Conditions Générales entrent en vigueur au jour de leur acceptation.</p>

  <p>L’acceptation des Conditions Générales par l’Utilisateur est nécessaire à la poursuite de la navigation et à
    l’utilisation du Service.</p>

  <h4 class="font-medium">3.2. Modification des CGU</h4>

  <p>La Société est autorisée à modifier le contenu des Conditions Générales, sous réserve de notifier à l’Utilisateur
    l'existence de cette modification et la date de sa prise d'effet, en l'invitant à prendre connaissance du nouveau
    texte des Conditions générales.</p>

  <p>Cette notification s’effectuera via l’apparition d’une fenêtre dédiée («pop-up») sur l’interface de l’Utilisateur
    lors
    de sa connexion.</p>

  <p>L'accord de l’Utilisateur sera réputé acquis à défaut d'opposition écrite, via son espace messagerie sur la
    Plateforme, dans les 28 jours suivant cette notification, ce qui entraînera l'entrée en vigueur immédiate et
    automatique des conditions générales modifiées, à l'expiration de ce délai, ou à compter de la date d'entrée en
    vigueur indiquée par la Société, tant que le délai minimum de vingt-huit 28 jours susmentionné est respecté.</p>

  <p>Dans le cas où l’Utilisateur exprime son refus concernant les nouvelles conditions générales, ce dernier restera
    soumis aux anciennes Conditions générales.</p>

  <h3 class="font-medium">Article 4: Création de compte et connexions ultérieures</h3>

  <p>L’Administrateur procède à la création des comptes des Professeurs et des Elèves sur la base des informations
    fournies
    par l’Ecole.</p>

  <p>La création d’un compte implique la communication par l’Ecole des informations suivantes:</p>

  <ul class="list-disc pl-6">
    <li> Pour les Professeurs: nom, prénom, email (professionnel ou scolaire), et;
      Pour les Elèves: nom, prénom, email scolaire, tiers-temps s'il y en a.
    </li>

    <li>Les Utilisateurs reçoivent un email contenant un lien à usage unique leur permettant de créer leur mot de passe
      à
      la
      première connexion.
    </li>

  </ul>

  <p>Pour les connexions suivantes: les Utilisateurs préalablement autorisés par l’Ecole se connectent en utilisant leur
    email et un mot de passe personnel.</p>

  <h3 class="font-medium">Article 5 : Organisation des Examens</h3>

  <h4 class="font-medium">5.1. Création d’un questionnaire</h4>

  <p>Un questionnaire est composé d'un nombre défini de questions, qui peuvent être de différents types : ouvertes ou
    fermées (texte, choix multiple, à ordonner, associatives, à trou):</p>

  <ul class="list-disc pl-6">
    <li>Questions Texte : Le Professeur peut, s’il le souhaite, définir une bonne réponse pour la correction
      automatique;
    </li>
    <li>Questions à Choix Multiple : Le Professeur peut autoriser ou non plusieurs réponses possibles;</li>
    <li>Questions à Ordonner : Ces questions permettent de proposer un exercice dans lequel l’Elève doit remettre une
      série
      d’éléments dans le bon ordre (ex: dates);
    </li>
    <li>Questions Associatives : Ces questions permettent de proposer un exercice dans lequel l'Elève doit associer des
      éléments entre deux colonnes. Par exemple, il peut s'agir de mettre en face la bonne définition d’un mot, associer
      une
      question à sa réponse, ou encore lier un concept à son exemple;
    </li>
    <li>Questions à Texte à Trous: Ces questions permettent de proposer à l’Elève un exercice dans lequel il doit
      compléter
      des mots ou des groupes de mots manquants.
    </li>
  </ul>

  <p>Le type de questions disponibles sur la Plateforme est susceptible d’évoluer avec le temps.</p>

  <p>Chaque question peut être assortie d’un chronomètre individuel pour limiter le temps passé sur la question.
    L'écoulement de la durée de la question provoque un passage forcé à la question suivante, ainsi que la sauvegarde de
    la réponse de l'Elève.</p>

  <p>Le contenu d'un questionnaire (structure, sujet, contraintes de sortie de page, questions, etc.) reste modifiable
    jusqu'à l'ouverture de la première session. Une fois que la session de l'Examen a été lancée, le questionnaire n'est
    plus modifiable afin de garantir l'intégrité des questions et des réponses de l’Elève.</p>

  <p>L’Elève s’interdit de procéder à une quelconque reproduction et / ou copie des questions.</p>

  <h4 class="font-medium">5.2. Déroulement de l’examen</h4>

  <p>Le Professeur fixe une session d’Examen. L’Elève a accès, sur l’interface d’accueil de la Plateforme, à la liste
    des
    sessions d’Examens courantes et à venir et se connecte à celle à laquelle il souhaite accéder.</p>

  <p>Le Professeurs peut définir une salle d'attente afin de s'assurer que tous les Elèves commencent l’Examen en même
    temps. Cela n'impacte pas la durée totale de l'Examen, qui est recalculée à partir du moment où le Professeur lance
    l'Examen pour tous les Elèves concernés.</p>

  <p>Les Elèves n'ont accès aux questions que pendant la session d'examen. Durant l’Examen, le Professeur peut suivre en
    temps réel la progression des Elèves, ainsi que leur statut. Il peut également voir le taux de complétion de la
    session pour chaque Elèves y compris les numéros des questions et le nombre de questions auxquelles ils ont
    répondu.</p>

  <p>Le Professeur a la possibilité d’interdire aux Elèves de revenir en arrière sur les questions et ainsi d’empêcher
    l’Elèves de modifier leurs anciennes réponses.</p>

  <p>Les Elèves peuvent rester sur la plateforme jusqu'à la fin du temps imparti. Leur heure de départ est enregistrée
    s'ils décident de quitter l'examen avant la fin du temps imparti.</p>

  <p>Un Elève n’ayant pas terminé un Examen avant la fin obtiendra une note équivalente à l’ensemble des bonnes réponses
    obtenues au moment de la clôture dudit Examen.</p>

  <p>Le Professeur peut décider d’autoriser ou non l’accès aux ressources externes. S'il bloque l'accès aux ressources
    externes, la sortie de la fenêtre d'Examen pendant la session est interdite à l’Elève. S’il autorise l’accès aux
    ressources externes, la durée de sortie de la fenêtre d’Examen durant la session d’Examen n’est pas limitée.</p>

  <p>En cas d’incident ou d’interruption durant la session d’Examen, le Professeur aura la possibilité de procéder à la
    Réintégration de l’Elève.</p>

  <p>En cas d’incident ou d’interruption durant la session d’Examen, l’Elève aura la possibilité de reprendre sa session
    là
    où il s’est arrêté.</p>

  <p>Si un Elève est absent durant un Examen, le professeur pourra l'exclure manuellement de la session.</p>

  <h4 class="font-medium">5.3. Correction de l’examen</h4>

  <p>La correction d'un Examen peut se faire automatiquement dans le cas d'un questionnaire si les bonnes réponses sont
    définies strictement à l'avance par le Professeur</p>

  <p>Dans le cas des «questions Texte» et des «questions Texte à Trous», la correction automatisée se fait alors au
    caractère près (celui défini à l’avance comme devant donné lieu à validation d’une bonne réponse). Toutefois, le
    Professeur a la possibilité de corriger manuellement l’Examen et plus particulièrement une question afin d’attribuer
    les points afférents en cas de bonne réponse qui n’aurait pas identifiée automatiquement comme telle (ex: faute
    d’orthographe par exemple, ajout d’un élément indifférent au texte défini à l’avance).</p>

  <p>A l’issue de toutes les sessions d'Examen pour un questionnaire donné, le Professeur aura la possibilité de publier
    les réponses. Cette publication permettra aux Elèves de consulter leur examen en comparant leurs réponses avec le
    corrigé du Professeur.</p>

  <p>Le Professeur peut exporter les notes de son examen en CSV, en y incluant, s'il le souhaite, la moyenne de la
    classe.</p>

  <h4 class="font-medium">5.4. Informations collectées durant un examen à des fins statistiques</h4>

  <p>Pendant le passage de l'Examen, un ensemble d'informations est collecté sur la session de l'Elève. Ces informations
    comprennent notamment :</p>

  <ul class="list-disc pl-6">
    <li>Le temps de réponse à chaque question;</li>
    <li>Les réponses à chaque question ainsi que leur heure.</li>
  </ul>


  <h4 class="font-medium">5.5. Triche et comportements frauduleux</h4>

  <p>Pendant le passage de l'Examen, l’adresse IP de l'Elève ainsi que l’identifiant unique du navigateur sont collectés
    afin de détecter si un Elève passe l'Examen deux fois au nom de deux personnes différentes. Dans un pareil cas, le
    Professeur recevra une notification, lequel pourra prendre les mesures jugées nécessaires pas ses soins.</p>

  <p>Si le Professeur n’a pas autorisé le recours à des ressources externes, la sortie de la page d’Examen est interdite
    à
    l’Elève.</p>

  <p>Durant l’Examen, la présence d’une bannière rouge rappelle l’interdiction de sortir de la page d’Examen: «Sortie de
    page non autorisée».</p>

  <p>En cas de sortie de la page d’Examen, l’Exclusion de l’Elève est possible dans les cas suivants:</p>

  <ul class="list-disc pl-6">
    <li>Sortie accidentelle: un compteur est mis en place pour gérer les sorties accidentelles. Si l’Elève sort 3 fois
      de la
      page d'examen, il est définitivement exclu de l’examen. Les cas de sortie de fenêtre sont enregistrés dans la base
      de
      données et sont consultables par le Professeur ;
    </li>

    <li>Sortie supérieure à 3 secondes avec notification d’avertissement: En cas de sortie de fenêtre non autorisée,
      l'Elève
      reçoit une notification d'avertissement lui demandant de revenir sur la page de l'Examen dans les 3 secondes. Un
      clic
      sur cette notification permet de réintégrer l'Elève à l'Examen s'il n'a pas dépassé le temps maximal autorisé. Le
      Professeur est également notifié d'une alerte lui indiquant quel Elève a enfreint la règle de sortie. En cas de
      sortie
      prolongée de la fenêtre d'examen (plus de 3 secondes), l'Elève est automatiquement déconnecté de la session
      d'examen.
      Ses réponses sont sauvegardées en l'état et le système marque sa session comme une déconnexion forcée par sortie
      de
      fenêtre.
    </li>
  </ul>


  <p>Les sorties de la page d’Examens sont détectées via les logs de connexion mais il n'y a pas de suivi des actions
    que
    l’Elève fait en dehors de la fenêtre d'examen de sorte qu’une vérification visuelle du Professeur est nécessaire
    pour
    confirmer si l’Elève tente de tricher.</p>

  <p>En cas de détection d’un Elève dans un environnement virtualisé, le Professeur est notifié en temps réel sur son
    tableau de bord et la session d’Examen de l’Elève est marquée comme suspecte dans la base de données afin qu’il
    procède à une vérification visuelle pour confirmer si l’Elève tente de tricher.</p>

  <p>Le Professeur peut également exclure l’Elève pour des raisons tierces – notamment s’il ne fait pas partie de la
    classe
    évaluée ou s’il n’est pas autorisé à passer l’Examen.</p>

  <p>Pendant un Examen, le Professeur peut décider de procéder à la Réintégration d’un Elève (notamment en cas de
    sorties
    accidentelles) via l'interface de suivi des Elèves.</p>

  <h3 class="font-medium">Article 6 – Prérequis techniques</h3>

  <p>La technologie NEVERMIND a été testée sur des ordinateurs PC et MAC.</p>

  <p>Elle fonctionne avec les systèmes d’exploitation suivants :</p>

  <ul class="list-disc pl-6">
    <li>Linux;</li>
    <li>MAC;</li>
    <li>Windows.</li>
  </ul>


  <p>Ainsi que pour les navigateurs :</p>
  <ul class="list-disc pl-6">
    <li>Chrome;</li>
    <li>Safari;</li>
    <li>Mozilla</li>
    <li>Arc;</li>
    <li>Opéra</li>
  </ul>


  <p>L’Utilisateur est informé du fait qu’il existe une possibilité qu’apparaissent des dysfonctionnements sur des
    appareils ou à partir de navigateurs ne figurant pas dans les listes précitées, à partir d’ordinateurs disposant
    d’une
    connexion internet particulièrement lente, ou à partir d'ordinateurs bridés ou limités pour des raisons de
    sécurité.</p>

  <h3 class="font-medium">Article 7: Obligations et responsabilité de la Société</h3>

  <h4 class="font-medium">7.1. Accès à la Plateforme</h4>

  <p>La Société s’engage à ce que l’Utilisateur puisse se connecter à la Plateforme à tout moment, à l’exclusion des
    périodes de maintenance et de mise à jour.</p>

  <p>{{ 'Toute constatation d\'indisponibilité totale ou partielle de la Plateforme par l’Utilisateur peut être notifiée à la Société à l’adresse contact@ne-ver-mind.com en mettant en objet "Signaler un dysfonctionnement".' }}</p>

  <h4 class="font-medium">7.2. Obligation de sécurité</h4>

  <p>La Société apporte un soin particulier à la sécurité et s’engage à prendre toutes les mesures nécessaires,
    conformes à
    l’état de l’art et de la technique, pour protéger la sécurité des fichiers et des données de l’Utilisateur.</p>

  <p>L’Utilisateur reconnaît toutefois que, malgré tous les efforts de la Société, le recours aux technologies les plus
    modernes et le respect des normes de sécurité, il est impossible de garantir une sécurité absolue et un
    fonctionnement
    sans faille des systèmes utilisés.</p>

  <p>L’Utilisateur reconnaît également que du fait des caractéristiques d’Internet, la sécurité s’analyse en une
    obligation
    de moyens.</p>

  <h4 class="font-medium">7.3. Obligation de confidentialité</h4>

  <p>La Société s’engage à garder strictement confidentielles les informations qui lui ont été confiées par les
    Utilisateurs.</p>

  <p>Dans tous les cas, les données concernant les opérations effectuées dans le cadre de l’exécution du Service sont
    traitées de manière confidentielle et sont soumises à la politique de confidentialité.</p>

  <h4 class="font-medium">7.4. Responsabilité quant à l’utilisation de l’Application</h4>

  <p>La Société ne saurait être responsable de toutes pertes de données ou de fichiers, de dommages, quels qu’ils
    soient,
    liés à l’utilisation faite par l’Utilisateur de la Plateforme.</p>

  <p>Par ailleurs, la responsabilité de la Société ne saurait être recherchée en cas de dysfonctionnement, d’une
    impossibilité d’accès, ou de mauvaises conditions d’utilisation du site imputables à un équipement non adapté, à des
    perturbations attribuables au fournisseur d’accès, à l’encombrement du réseau Internet et/ou pour toute autre raison
    extérieure à l’Utilisateur ou lors de la maintenance ponctuelle du site.</p>

  <h4 class="font-medium">7.5. Obligation de moyen de résolution des incidents techniques et assistance technique</h4>

  <p>La Société s’engage à tout mettre en œuvre, dans le cadre d’une obligation de moyens, pour résoudre tout incident
    technique sur sa plateforme.</p>

  <p>{{ 'En cas de problème technique, l’Administrateur peut s’adresser à la Société à l’adresse contact@ne-ver-mind.com afin de l’en alerter.' }}</p>

  <h4 class="font-medium">7.6. Absence de responsabilité en cas de préjudice indirect</h4>

  <p>La Société ne pourra être tenue pour responsable d'aucun préjudice ou dommage au titre de l'installation, de
    l'exploitation, de l'utilisation de la Plateforme par l’Utilisateur.</p>

  <h4 class="font-medium">7.7. Absence de responsabilité en cas d’évènements de force majeure</h4>

  <p>La société n'engagera pas sa responsabilité en cas de force majeure, au sens de l'article 1218 du Code civil, ou de
    faute de l’Utilisateur, telles que définies au présent article :</p>

  <p>Aux sens des présentes, sera considéré comme un cas de force majeure opposable à l’Utilisateur tout empêchement,
    limitation ou dérangement du Service du fait d'incendie, d'épidémie, d'explosion, de tremblement de terre, de
    fluctuations de la bande passante, de manquement imputable au fournisseur d'accès, de défaillance des réseaux de
    transmission, d'effondrement des installations, d'utilisation illicite ou frauduleuse des mots de passe, codes ou
    références, de piratage informatique, d'une faille de sécurité imputable à l'hébergeur de la plateforme ou aux
    développeurs, d'inondation, de panne d'électricité, de guerre, d'embargo, de loi, d'injonction, de demande ou
    d'exigence de tout gouvernement, de réquisition, de grève, de boycott, ou autres circonstances (intervention de la
    force publique dans les zones où sont situés ses locaux ou ceux de ses serveurs) hors du contrôle raisonnable de la
    Société</p>

  <p>Dans de telles circonstances, la Société sera dispensée de l'exécution de ses obligations dans la limite de cet
    empêchement, de cette limitation ou de ce dérangement.</p>

  <h4 class="font-medium">7.8. Responsabilité de la Société sur les contenus publiés par les Utilisateurs</h4>

  <p>La Société ne pourra voir sa responsabilité civile ou pénale engagée à raison des informations publiées ou validées
    par un Utilisateur. La Société ne procède à aucune modération à priori quant aux Contenus précités. L’Utilisateur
    est
    donc seul responsable de la mise en ligne de données et contenus qu’il publie sur la Plateforme. Ceci reste valable
    si
    l’Utilisateur demande une assistance technique à la Société pour éditer du contenu.</p>

  <h3 class="font-medium">Article 8: Obligations et responsabilité de l’Utilisateur</h3>

  <p>L’Utilisateur s'engage à ne pas entraver ou perturber les serveurs de la Société et à se conformer aux conditions
    requises, aux procédures, aux règles générales qui lui sont communiquées par la Société.</p>

  <p>Aux sens des présentes Conditions Générales, sera considérée comme une faute de l’Utilisateur opposable à ce
    dernier
    toute mauvaise utilisation de la Plateforme, faute, négligence, omission ou défaillance de sa part ou de celle de
    ses
    préposés, non-respect des conseils donnés par la Société, toute divulgation ou utilisation illicite du mot de passe,
    des codes et références de l’Utilisateur ainsi que le renseignement d’informations erronées.</p>

  <h3 class="font-medium">Article 9: Informatique et libertés et Données Personnelles</h3>

  <p>La Société collecte et traite les Données Personnelles des Utilisateurs conformément à la règlement applicable en
    vertu de la loi 78-17 du 6 janvier 1978 et du Règlement général sur la protection des données (RGPD) du 27 avril
    2016.</p>

  <p>La Société s’engage ainsi à tout mettre en œuvre pour assurer la sécurité et la confidentialité des Données
    Personnelles collectées.</p>

  <h4 class="font-medium">9.1 Collecte des Données Personnelles</h4>

  <p>Les Données Personnellesnominatives collectées par la Société et qui sont transmises par l’Ecole et / ou par
    l’Utilisateur sont nécessaires à l’exécution du Service.</p>

  <h4 class="font-medium">9.2. Les finalités du traitement et les destinataires des Données Personnelles</h4>

  <p>La finalité des traitements opérés par la Société vise à permettre la mise à disposition du Service, soit la
    gestion
    administrative de l’Ecole et l’organisation d’Examens.</p>

  <p>Les Données Personnellespourront être communiquées aux prestataires de la Société intervenant dans le cadre de la
    fourniture du Service via la Plateforme et pour lesquels cette transmission de Données Personnellesserait
    nécessaire.</p>

  <h4 class="font-medium">9.3. Durée de conservation des Données Personnelles</h4>

  <p>Les Données Personnellescollectées par la Société dans le cadre de l’exécution du Service seront conservées selon
    les
    modalités suivantes:</p>

  <ul class="list-disc pl-6">
    <li>Les Administrateurs et les Professeurs: 3 ans à compter de la fin de leur mission au sein de l’Ecole ou à
      compter
      de
      la date ou l’Ecole a procédé à sa suppression des effectifs;
    </li>
    <li>Les Elèves: 3 ans à compter de la fin de sa formation au sein de l’Ecole ou à compter de la date ou l’Ecole a
      procédé
      à sa suppression des effectifs;
    </li>
    <li>En tout état de cause, 3 ans à compter de la fin du Contrat conclu entre l’Ecole et la Société.</li>
  </ul>


  <h4 class="font-medium">9.4. Droit des Utilisateurs</h4>

  <p>L’Utilisateur dispose d'un droit d'accès, d'opposition, de rectification et de suppression des Données Personnelles
    qui le concernent.</p>

  <p>{{ 'Ce droit peut être exercé à tout moment en adressant un courrier, accompagné d’une photocopie d’un justificatif d’identité à l’adresse électronique suivante : contact@ne-ver-mind.com' }}</p>

  <h4 class="font-medium">9.5. Transfert de données hors UE</h4>

  <p>La Société utilise les services d’OVH pour héberger l’ensemble des environnements de la Plateforme. Les serveurs
    des
    services utilisés se situent en Europe.</p>

  <h4 class="font-medium">9.6. Fin du contrat et sort des données</h4>

  <p>La Société détruira les copies des données détenues dans ses systèmes informatiques dans un délai raisonnable, dans
    le
    strict respect de la règlementation propre aux types de données concernées à l’issue des délais stipulés à l’article
    9.3 des présentes Conditions Générales.</p>

  <h4 class="font-medium">9.7. Gestion des cookies</h4>

  <p>Un "cookie" est un fichier d'informations de taille limitée, installé sur les équipements personnels par les sites
    Internet que visite l’Utilisateur. Les cookies permettent de stocker des informations de navigation, telles que vos
    préférences de navigation ou des informations de profil.</p>

  <p>Ces cookies techniques sont exemptés de l’obligation de recueil du consentement en ce qu’ils sont destinés à
    permettre
    l’authentification de l‘Utilisateur auprès du Service.</p>


  <h3 class="font-medium">Article 10 : Propriété intellectuelle</h3>

  <h4 class="font-medium">10.1 Licence d’utilisation</h4>

  <p>La Société, sous réserve des termes et conditions des présentes conditions, accorde à l’Utilisateur une licence par
    outil de connexion utilisé, non exclusive et non transférable.</p>

  <p>L’Utilisateur ne dispose d’aucun droit de reproduction, de distribution, d’échanges ou de ventes sous quelque forme
    que ce soit, rémunéré directement ou indirectement sur le logiciel sous-jacent à la Plateforme.</p>

  <p>L’Utilisateur ne peut pas utiliser son compte à des fins illégales ou non autorisées et ne doit pas, dans
    l’utilisation de ce service, transgresser les lois en vigueur dans la juridiction de son pays (y compris, mais non
    limité, aux lois de propriété intellectuelle et industrielle).</p>

  <h4 class="font-medium">10.2 La protection du logiciel et de ses éléments par la propriété intellectuelle</h4>

  <p>Toutes les données de type, logos, contenus, images et logiciels disponibles en ligne sur la Plateforme sont
    réservées
    au titre de la propriété intellectuelle ainsi qu’au titre du droit d’auteur.</p>

  <p>La technologie et les logiciels sous-jacents de la Plateforme, notamment l’ergonomie (chartes graphiques, onglets,
    fonctionnalités, etc.) sont la propriété exclusive de la Société.</p>

  <p>Toute reproduction totale ou partielle de la Plateforme NEVERMIND ou des solutions mises à disposition est
    strictement
    interdite.</p>

  <p>L’Utilisateur conserve néanmoins tous les droits sur les contenus (informations de toute nature, sous forme
    numérique,
    tels qu’un texte, une image, une vidéo, un fichier, etc.présenté sur la Plateforme) qu’il aura fournis.</p>

  <h3 class="font-medium">Article 11 : Convention de preuve</h3>

  <p>Les parties conviennent expressément que l'utilisation du compte de l’Utilisateur par lui-même ou par un tiers fera
    preuve entre elles.</p>

  <p>Les systèmes d'enregistrement de la Société sont considérés comme valant preuve de la date et de la durée de
    l'utilisation, notamment en cas de contestation relative à une Exclusion et / ou toute autre sanction qui pourrait
    être prononcée par l’Ecole ou un Professeur à l’encontre de l’Elève.</p>

  <p>L'ensemble des éléments et incidents relatifs à l'utilisation du compte seront conservé et archivé par la Société.
    La
    Société pourra se prévaloir, notamment à des fins probatoires, de tout acte, fichier, enregistrement, rapport de
    suivi, statistiques sur tous supports dont le support informatique établi, reçu ou conservé par ses soins.</p>

  <p>Ces modalités de preuve constituent une présomption qui ne pourrait être renversée qu'en présence d'éléments
    établissant que les moyens d'enregistrement et de stockage de la Société ont été effectivement défaillants.</p>

  <h3 class="font-medium">Article 12 : Résolution des conflits</h3>

  <p>En tout état de cause, avant toute action contentieuse et sous peine d’irrecevabilité, l’Utilisateur, quel qu’il
    soit,
    et la Société chercheront, de bonne foi, à régler à l’amiable leurs différends et ce, pour quelques causes et sur
    quelques fondements que ce soient.</p>

  <p>Toutes difficultés relatives à la validité, l’application ou à l’interprétation des présentes Conditions Générales
    seront soumises, à défaut d’accord amiable, à la juridiction des Tribunaux compétents conformément au droit
    français.</p>

  <h3 class="font-medium">Article 13 : Dispositions finales</h3>

  <p>Les présentes Conditions Générales sont soumises au droit français.</p>

  <p>La nullité d'une des clauses des présentes Condition Générales n'entraînera pas la nullité des autres clauses des
    Conditions Générales ou des Conditions Générales dans leur globalité, qui garderont leur plein effet et portée.</p>

  <p>Dans une telle hypothèse, les parties devront dans la mesure du possible remplacer la stipulation annulée par une
    stipulation valable correspondant à l'esprit et à l'objet des présentes.</p>

  <p>L'absence d'exercice par la Société des droits qui lui sont reconnus par les présentes ne pourra en aucun cas être
    interprétée comme une renonciation à faire valoir lesdits droits.</p>
</div>
