#body {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}


#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

a {
  color: #AB6B51;
  text-decoration: none;
  font-style: italic;
  font-size: 0.8rem;
}


a.teacher {
  color: #39918C;
  text-decoration: none;
  font-style: italic;
  font-size: 0.8rem;
}
