<div id="page">
    <form id="container">
        <app-h1 title="Se connecter" [styleClass]="styleClass"></app-h1>
        <div id="input">
            <app-input placeholder="Email" type="email" (change)="getEmail($event)"></app-input>
            <app-input placeholder="Mot de passe" type="password" (change)="getPassword($event)"></app-input>
        </div>

        <app-button label="Se connecter" (clickEvent)="connect()" [styleClass]="styleClass"></app-button>
        <a [href]="'/' + Pages.resetPwd" [class]="styleClass">Mot de passe oublié ?</a>
    </form>
</div>
