<hlm-dialog>
  <button *ngIf="iconName" brnDialogTrigger hlmBtn variant="destructive">
    <lucide-icon *ngIf="iconName" [name]="iconName"></lucide-icon>
  </button>
  <button *ngIf="title" brnDialogTrigger variant="destructive" hlmBtn>
    {{ title }}
  </button>
  <hlm-dialog-content *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h2 brnDialogTitle>{{ title }}</h2>
      <p brnDialogDescription>{{ description }} </p>
    </hlm-dialog-header>

    <hlm-dialog-footer>
      <button (click)="yes()" brnDialogClose variant="destructive" hlmBtn>{{ accept }}</button>
      <button (click)="no()" brnDialogClose hlmBtn>{{ refuse }}</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
