<div id="container">
  <app-question-header (changeEvent)="getPts($event)" [id]="id"></app-question-header>
  <app-statement (changeEvent)="getStatement($event)" [value]="question.statement"></app-statement>
  <app-little-input (change)="getType($event)" [isSelect]="true" [selectedOption]="questionType" label="Type" [value]="question.type != '' ? question.type : 'Type ...'"></app-little-input>
  <app-little-input label="Image" value=""></app-little-input>
  <app-little-input (change)="getTimer($event)" [isSuffix]="true" suffix="sec" type="number" label="Timer" [value]="question.timer"></app-little-input>
  <div id="multipleChoice" *ngIf="this.question.type == 'multiplechoice'">
    <app-checkbox label="Plusieurs réponses possibles" (change)="isMultipleChoice($event)" [isChecked]="!question.singleResponse" ></app-checkbox>
    <div id="head">
      <span>Réponses</span>
      <span>Correcte</span>
    </div>
    <div id="response" *ngFor="let response of question.multiplechoices, let i = index">
      <app-little-input placeHolder="response" (change)="setResponse($event, i)" [value]="response.content"></app-little-input>
      <app-checkbox (change)="isCorrect($event, i)" [isChecked]="response.isCorrect"></app-checkbox>
    </div>
    <app-question-button (event)="addAnswer($event)" [little]="true" value="+"></app-question-button>
  </div>
</div>

