<div [class.dark]="theme === Theme.Dark"
     [class.light]="theme === Theme.Light"
     id="container"
>
  <label for="little-input" id="label">{{ label }}</label>
  <div *ngIf="!isSelect" [ngClass]="isSuffix ? 'has-suffix' : 'no-suffix'" id="input-with-suffix">
    <input (change)="onChange()"
           (keydown)="onChange()"
           (keyup)="onChange()"
           *ngIf="!isSelect"
           [(ngModel)]="value"
           [min]="min"
           [ngClass]="[isSuffix ? 'with-suffix' : veryLittle ? 'very-little-input' : 'little-input', large ? 'large' : '']"
           [placeholder]="placeholder"
           [type]="type"
           id="little-input"
    >
    <span *ngIf="isSuffix">{{ suffix }}</span>
  </div>
  <select (change)="onChange()" *ngIf="isSelect" [(ngModel)]="value" [ngClass]="veryLittle ? 'very-little-input' : ''"
          id="little-selector" name="selector">
    <option disabled selected>{{ this.firstValue }}</option>
    <option *ngFor="let option of selectedOption" [value]="option.id">{{ option.value }}</option>
  </select>
</div>
