#container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  width: 300px;
}

#head{
  display: flex;
  justify-content: space-between;
}

span{
  color: #AB6B51;
  font-weight: bold;
  font-size: 14px;
}

#multipleChoice{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#response{
  display: flex;
  justify-content: space-between;
}
