<div id="body">
    <div id="container">
        <app-h1 title="Renouveler le mot de passe" [styleClass]="styleClass"></app-h1>
        <div id="input">
            <app-input placeholder="Mot de passe" type="password" (change)="getPassword($event)"></app-input>
            <app-input placeholder="Confirmer le mot de passe" type="password" (change)="getConfirmPassword($event)"></app-input>
        </div>

        <app-button label="Se connecter" (clickEvent)="renew()" [styleClass]="styleClass"></app-button>
    </div>
</div>
