<div id="body">
    <form id="container">
        <app-h1 title="Renouveler le mot de passe" [styleClass]="styleClass"></app-h1>
        <div id="input">
            <app-input [large]="true" placeholder="Mot de passe" type="password" (change)="getPassword($event)"></app-input>
            <app-input [large]="true" placeholder="Confirmer le mot de passe" type="password" (change)="getConfirmPassword($event)"></app-input>
        </div>

        <app-button label="Modifier le mot de passe" (clickEvent)="renew()" [styleClass]="styleClass"></app-button>
    </form>
</div>
