#container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  min-width: 50px;
}

.little-input::placeholder{
  color: #AB6B51;
}

span{
  height: 40px;
  width: 40px;

  background: rgba(47, 67, 90, 0.1);
  border-top: 1px rgba(47, 67, 90, 0.2) solid;
  border-right: 1px rgba(47, 67, 90, 0.2) solid;
  border-bottom: 1px rgba(47, 67, 90, 0.2) solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5px;
  color: #2F435A;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

#input-with-suffix{
  display: flex;
  flex-direction: row;
}

.with-suffix{
  box-sizing: border-box;
  background: rgba(47, 67, 90, 0.1);
  border-right: none;
  border-top: 1px rgba(47, 67, 90, 0.2) solid;
  border-left: 1px rgba(47, 67, 90, 0.2) solid;
  border-bottom: 1px rgba(47, 67, 90, 0.2) solid;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  min-height: 40px;
  padding-left: 8px;
  width: 50px;
}

label{
  color: #2F435A;
  font-size: 16px;
  font-weight: bold;
}
