<div [ngClass]="addedClass" class="bg-white rounded-t-lg shadow overflow-hidden">
  <div class="hidden md:block overflow-x-auto">
    <table class="w-full text-left table-auto min-w-full">
      <thead>
      <tr class="border-b text-left">
        <th *ngFor="let column of columns"
            class="text-left py-4 px-6 text-sm font-semibold text-gray-600 whitespace-nowrap">
          {{ column.label }}
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="rowTemplate" class="text-left ">
        <ng-container *ngFor="let row of paginatedData; let idx = index" class="text-left">
          <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: row, index: idx }"
                        class="text-left"></ng-container>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div class="hidden md:flex border-t px-4 py-4 sm:px-6 flex-col sm:flex-row items-center justify-between gap-4">
  <span class="text-sm text-gray-600 order-2 sm:order-1">
    {{ (currentPage - 1) * itemsPerPage + 1 }}
    – {{ Math.min(currentPage * itemsPerPage, total ? total : data ? data.length : 0) }}
    sur {{ total ? total : data ? data.length : 0 }}
  </span>
    <div class="flex items-center gap-4 order-1 sm:order-2 w-full sm:w-auto justify-between sm:justify-end">
      <div class="flex items-center gap-2">
        <span class="text-sm text-gray-600 whitespace-nowrap">Par page</span>
        <select (change)="onItemsPerPageChange($event)" [value]="itemsPerPage"
                class="border rounded-lg px-2 py-1.5 text-sm bg-white"
        >
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="25">25</option>
        </select>
      </div>
      <div class="flex items-center gap-1 ml-4">
        <button (click)="setPage(1)" class="hidden p-2 rounded hover:bg-gray-100 sm:block">&lt;&lt;</button>
        <button (click)="prevPage()" class="p-2 rounded hover:bg-gray-100">
          <lucide-icon class="h-5 w-5 text-gray-600" name="chevron-left"/>
        </button>
        <button (click)="nextPage()" class="p-2 rounded hover:bg-gray-100">
          <lucide-icon class="h-5 w-5 text-gray-600" name="chevron-right"/>
        </button>
        <button (click)="setPage(totalPages)" class="hidden p-2 rounded hover:bg-gray-100 sm:block">&gt;&gt;</button>
      </div>
    </div>
  </div>
</div>
