nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 110px;
  padding-left: 110px;
  background: #39918C;
  height: 125px;
}

#burger{
  display: none;
}

h1{
  color: white;
  font-weight: bold;
  font-size: 36px;
}

@media (max-width: 767px){
    nav{
        padding-right: 20px;
        padding-left: 20px;
    }

    #burger{
        display: flex;
    }

  .button{
    display: none;
  }
}
