.standardAnswer {
  margin-top: 10px;
  font-style: italic;
}

span {
  color: #2F435A;
}

.answer {
  margin-top: 10px;
  font-size: 25px;
}

.right {
  color: #39918C;
}

.wrong {
  color: #8B0000;
}
