.row{
  display: flex;
  justify-content: start;
  flex: 45%;
}

#rows{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

#rows:last-child{
  padding-bottom: 50px;
}

.checkAnswer{
  display: flex;
  align-items: center;
  gap: 20px;

  img{
    width: 30px;
    height: 30px;
  }
}
