.ordered-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.response {
  display: flex;
  align-items: center;

  background-color: rgba(208, 180, 159, 0.2);
  border-radius: 10px;
  border: 1px solid #D0B49F;
  height: 40px;
  min-width: 400px;

  p {
    color: #D0B49F;
    font-weight: normal;
    padding-left: 20px;
  }
}

.wrong {
  background-color: rgba(139, 0, 0, 0.2);
  border: 1px solid #8B0000;
  color: #8B0000;

  p {
    color: #8B0000;
  }
}

.right {
  background-color: rgba(57, 145, 140, 0.2);
  color: #39918C;
  border: 1px solid #39918C;

  p {
    color: #39918C;
  }
}

.expected {
  margin-top: 5px;
  font-weight: bold;
  color: #8B0000;
}
