span {
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  float: right;

  font-size: 20px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  color: white;
  width: 300px;
  min-height: 50px;

  position: absolute;
  left: calc(100% - 330px);
  top: 3%;
}

.good{
  background-color: rgba(81, 163, 81, 0.7);
}

.bad{
  background-color: #bd362f;
}
