nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  height: 125px;
}

.teacher {
  background: #2F435A;
}

.student {
  background: #39918C;
}

img{
  position: relative;
  height: 110%;
  top: 25px;
  width: fit-content;
}
