<nav [class]="styleClass">
  <img (click)="landing()" alt="logo" class="h-full ml-8" src="assets/logo.svg">
  <a *ngIf="!authService.isConnected()" [routerLink]="'/' + Pages.login">
    <app-button-header styleClass="teacher" value="Se connecter"></app-button-header>
  </a>
  <div *ngIf="authService.isConnected()" class="flex gap-6 items-center">
    <a (click)="logout()"
       class="rounded-full p-4 bg-red-700 hover:cursor-pointer hover:opacity-70">
      <lucide-icon class="text-white w-6 h-6 " name="log-out"></lucide-icon>
    </a>
  </div>
</nav>
